.rating-popup {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 300px;
    z-index: 2;
    color: blue;
  }
  
  .rating-popup-container {
    position: relative;
    margin: auto;
    transform: translateY(-50%);
    min-width: 200px;
    max-width: 300px;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
    justify-content: center;
    align-items: center;
  }
  
  .rating-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .rating-option {
    font-size: 24px;
    cursor: pointer;
  }
  
  .rating-option img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
  }
  
  .rating-option.selected {
    border: 2px solid #007bff;
    border-radius: 50%;
  }
  
  .review-section {
    display: flex;
    flex-direction: column;
  }
  
  .review-section textarea {
    margin-bottom: 10px;
  }
  
  .submitted-review {
    margin-top: 10px;
    color: blue;
  }
  